<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Summer//TODO Project Work (Orion)</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/cookiehelper.js"></script>
    <script src="/js/applogic.js"></script>

    <script src="/js/zebra_dialog_src.js"></script>
    <link href="/css/zebra_dialog.css" rel="stylesheet">
    <script src="/js/jqueryform.js"></script>
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/client/m.app">
<!--    <a class="navbar-brand col-sm-3 col-md-3 mr-0" href="/client/m.app">-->
        <b><i class="fas fa-mobile"></i> Summer//TODO &nbsp; <span id="username" style="color: #84d593">...</span>
        </b>
    </a>
    <input id="addNewTask" class="form-control form-control-dark w-100" type="text" placeholder="Add new TODO (and press ENTER KEY)"
           aria-label="Add new TODO">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a id="signOutButton" class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
<!--        <nav class="col-md-3 d-none d-md-block bg-light sidebar">-->
            <div class="sidebar-sticky">

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Folders</span>
                </h6>

                <ul class="nav flex-column">
                    <li class="nav-item folderItem" data-folder-id="0">
                        <div style="display: inline-block" >
                            <span class="fafolder fafolderroot"></span>
                        </div>
                        <div class="folderAttr" data-folder-id = "0" data-folder-name="Root folder" >Root folder</div>
<!--                        <div class="newFolder" style="display: inline-block; color: #03a023; font-weight: bold;">
                            <span class="fafolder-common fafolder-new" data-folder-id="0"></span>
                        </div>-->
                        <div class="folderListContainer" data-parent-folder-id = "0" >
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<!--        <main role="main" class="col-md-8 ml-sm-auto col-lg-9 pt-3 px-4">-->

            <h2 id="folderHeaderForToDoList"> Root folder</h2>
            <div class="table-responsive">
                <table id="todoTableList" class="table  table-sm">
                    <thead>
                    <tr>
                        <th style="width: 1rem">Done</th>
                        <th>Description</th>
                        <th style="width: 6rem">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div id="loaderToDoList" style="text-align: center;">
                    <img src="../img/ripple.svg" onerror="this.onerror=null; this.src=\'../img/loader.gif\'">
                </div>
            </div>
        </main>


        <nav id="context-menu" class="context-menu">
            <ul class="context-menu__items">
                <li class="context-menu__item">
                    <a href="#" class="context-menu__link action-folder-new" data-action="Create" data-folder-id="22"><span class="fafolder-common fafolder-new"></span> Create subfolder</a>
                </li>
                <li class="context-menu__item">
                    <a href="#" class="context-menu__link action-folder-edit" data-action="Edit"><span class="fafolder-common fafolder-edit"></span> Edit folder</a>
                </li>
                <li class="context-menu__item">
                    <a href="#" class="context-menu__link action-folder-delete" data-action="Delete"><span class="fafolder-common fafolder-delete"></span> Delete folder</a>
                </li>
            </ul>
        </nav>

    </div>
</div>


</body>
</html>
