<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/cover.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header th:replace="blocks/header :: header"></header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Features</h1>
        <p class="lead">1) Создавать/удалять заметки, отмечать исполеными</p>
        <p class="lead">2) Многоуровенвая систиме папок для разраничения задач</p>

        <p class="lead">
            Пример экрана приложения
        </p>

        <center>
            <a href="/img/screen.png" target="_blank">
                <img width="100%" src="/img/screen.png">
            </a>
        </center>

    </main>


    <footer th:replace="blocks/footer :: footer"></footer>
</div>



</body>
</html>