<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand"><span th:text="${title}" /></h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/"><b>Home</b></a>
            <a class="nav-link" href="/client">Client</a>
            <a class="nav-link" href="/api">API</a>
            <a class="nav-link" href="/features">Features</a>
            <a class="nav-link" href="/contact">Contact</a>
        </nav>
    </div>
</header>